/*
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
        SECTION 3
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= 
*/
.section3 {
    font-family: 'Inter', sans-serif;
    margin: 0 180px;
    text-align: center;
}
.section-info{
    font-size: 18px;
    color: #a5a5a5;
    text-align: center;
    padding-top: 7px;
    font-family: 'Inter', sans-serif;
}
.card-container{
    box-sizing: border-box;
    width: 100%;
    height: 80%;
}
.row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}
.image-holder{
    width: 320px;
    height: 80px;
    background-color: #121316;
}
.card{
    width: 320px;
    height: 430px;
    background-color: #191a1e;
    border-radius: 30px;
    color: white;
    font: 20px;
}
.card > p{
    margin: auto;
    padding-top: 160px; 
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}
.card-models{
    width: 200px;
    height: 200px;
}
@media (max-width: 985px) {
    .section3{
        margin:0;
        padding: 0 40px;
        padding-top: 100px;
    }
    .row{
       flex-direction:column;
       justify-content:center;
       padding-top: 10px;
    }
    .image-holder{
        width: 300px;
        height: 50px;
        padding-top: 15px;
    }
    .card{
        width: 300px;
        height: 380px;
        align-self:center;
    }
    .card-models{
        width: 160px;
        height: 160px;
    }
    .card > p{
        margin: auto;
        padding-top: 140px; 
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
    }
    .section-info{
        font-size: 17px;
    }
}